.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin, 1vmin, 12vmin, 1vmin;
  overflow: hidden;
  flex-wrap: wrap;
  padding: 2%;
  gap: 0.5%;

  .cancelling-bg {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .card {
    display: grid;
    grid-template-columns: 5% 90% 5%;
    transition: flex-grow 0.5s ease-in-out, height 0.25s ease-in-out;
    max-height: 75%;
    max-width: 28vw;
    transform: skew(5deg);
    padding: 0.5%;
    cursor: pointer;
    
    
    .card__head {
      margin-top: auto;
      display: flex;
      flex-direction: column-reverse;
      justify-content: space-between;
      flex-wrap: nowrap;
      background-color:rgb(255 153 0 / 58%);
      padding-bottom: 0.1em;
      height: 80%;
      white-space: nowrap;
      margin-bottom: auto;
      gap: 0.5%;
      text-justify: initial;

      h4 {
        max-height: 50%;
        font-family: sans-serif;
        text-align: start;
        font-size: 1em;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
      }
    }

    .project-actions {
        max-width: 0;
        visibility: hidden;
      }
    
    .projectSpec {
      display: flex;
      flex-direction: column;
    }

    .description {
      transition: all 0.5s ease-in-out;
      transform: rotate(-90deg);
      transform-origin: 0% 0%;
      visibility: hidden;
      height: 0;
      width: 100%;
      background:rgb(255 153 0 / 58%);
      padding: 0.5em;
      font-size: 16px;
      transform: translateY(100%);
      transition: transform 0.5s ease-in-out;
      margin-top: 1.5%;
    }

    &:hover:not(.active) {
      .ProjectIMG {
        filter: grayscale(0);
      }
    }

    .tech-stack {
      display: flex;
      max-height: 10%;
      gap: 1%;
    
      li {
        max-width: 20%;

        img {
          max-height: 32px;
        }
      }
    }

    .ProjectIMG {
      max-width: 100%;
      max-height: 50vh;
      object-fit: cover;
      transition: filter 0.2s ease-in-out;
      filter: grayscale(100%);
    }

    &:not(:nth-child(5)) {
      margin: 1em;
    }

    &.active {
      flex-grow: 10;
      height: 75vh;
      min-width: 65vw;
      margin: 2%;
      position: fixed;
      top: 50vh;
      left: 50vw;
      overflow: hidden;
      transform: translate(-50%, -60%) skew(-1deg);
      transition: transform 0.1s ease-in-out;
      z-index: 2;

      .project-actions {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          max-width: 100%;
          height: 50%;
          visibility: visible;
          text-align: center;
          margin: auto 0 auto 0;

        div {
          display: flex;
          flex-direction: column;
          justify-content: space-evenly;
          height: 30%;
        }

      a {
          background-color:rgb(255, 87, 34);
          height: 32px !important;
          background-size: 20px 30px;
          background-repeat: no-repeat;
          background-position: center;
          border-radius: 40%;
          object-fit: contain;
          cursor: pointer;
        
          &:hover {
            background-color: #ff562289;
          }
        
          .ProjectIMG, .ProjectIMG.mobile, &:active {
            animation-play-state: running;
            animation: flip 0.5s forwards;
          }
        }
      }

      .ProjectIMG {
        object-fit: contain;
        filter: grayscale(0);
      }

      .description {
        visibility: visible;
        height: auto;
        transform: translateY(0%);
        transition: transform 0.5s ease-in-out;
      }
    }
  }

  .cancelling-bg.active {
    display: block;
    overflow: hidden;
  }
}