.projectViewToggler {
  background-image: url('/icons&imgs/ProjectPcView.svg');
}

.projectViewToggler.mobile {
  background-image: url('/icons&imgs/ProjectMobileView.svg');
}

.goToGithub {
  background-image: url('/icons&imgs/seeResource.svg');
}

.goToLive {
  background-image: url('/icons&imgs/seeLiveIcon.svg');
}