<section class="section-container">
        <div class="section5">
            <div class="heading-2-professional-certi-parent">
                <div class="heading-21">Professional Certificate Gallery</div>
                <h3 class="explore-some-of-container">
                    <span>
                        <p class="explore-some-of">
                            Explore some of the certificates I have earned during my professional
                        </p>
                        <p class="journey">journey.</p>
                    </span>
                </h3>
            </div>
            <div class="divcertificate-item-parent">
                <div class="divcertificate-item">
                    <img class="ai20appreciate20badgepng-icon" loading="eager" alt="" src="./public/ai20appreciate20badgepng@2x.png">
                </div>
                <img class="divcertificate-item-icon" loading="eager" alt="" src="./public/divcertificateitem@2x.png">
                <div class="divcertificate-item1">
                    <div class="advanced20csharp20programmin">
                        <img class="advanced20csharp20programmin-icon" loading="eager" alt="" src="./public/advanced20csharp20programmingsvg@2x.png">
                    </div>
                </div>
                <div class="divcertificate-item2">
                    <div class="campaign20managersvg">
                        <img class="campaign20managersvg-icon" loading="eager" alt="" src="./public/campaign20managersvg@2x.png">
                    </div>
                </div>
                <div class="divcertificate-item3">
                    <div class="creative20certification20exa">
                        <img class="creative20certification20exa-icon" loading="eager" alt="" src="./public/creative20certification20examsvg@2x.png">
                    </div>
                </div>
                <div class="divcertificate-item4">
                    <div class="developing20web20application">
                        <img class="developing20web20application-icon" loading="eager" alt="" src="./public/developing20web20applications20using20aspnet20core20mvcsvg@2x.png">
                    </div>
                </div>
            </div>
        </div>
    </section>