<main>
  <nav>
    <ul>
      <li hx-target="#projects"
          hx-trigger="click" 
          id="all" data-hx-vals="<%= @projects.to_json %>" data-controller="projects-nav" data-action="mouseup->projects-nav#switch" class="projectsNav selected">
          All projects
      </li>
      <li>Front-end</li>
      <li>Back-end</li>
      <li>Full-stack</li>
  </ul>
</nav>
  <section id='projects'></section>
</main>