<header class="top-level-frame">
  <div class="header">
    <div class="subscribing-frame">
      <img class="icon" loading="eager" alt="" src="./public/icon.svg" />

      <div class="v-devstack">
        <span> V </span>
        <b class="devstack">DevStack</b>
      </div>
    </div>
    <div class="certificates-parent">
      <div class="item-link">Home</div>
      <div class="item-link1">About</div>
      <div class="item-link2">Projects</div>
      <div class="item-link3">Designs</div>
      <div class="item-link4">Contact</div>
    </div>
  </div>
</header>
