<body>
  <header hx-include="/content/header.html">
    <nav>
  <a href="">Moathal S. Kachi</a>
  <ul>
    <li class="" id="nav-about" hx-target="#main" hx-swap="outerHtml" hx-get="/index" hx-trigger="click">About</li>
    <li class="" id="nav-projects">Projects</li>
    <li class="" id="nav-certificates">Certificates</li>
    <li class="" id="nav-techStack">Tech-Stack</li>
    <li class="" id="nav-contact">Contact</li>
  </ul>
</nav>
</header>