<header class="top-level-frame">
  <div class="header">
    <div class="subscribing-frame">
      <img class="icon" loading="eager" alt="" src="./public/icon.svg" />

      <div class="v-devstack">
        <span> V </span>
        <b class="devstack">DevStack</b>
      </div>
    </div>
    <ul class="certificates-parent">
      <li class="item-link"><a>Home</a></li>
      <li class="item-link1"><a>About</a></li>
      <li class="item-link2"><a>Projects</a></li>
      <li class="item-link3"><a>Designs</a></li>
      <li class="item-link4"><a>Contact</a></li>
    </ul>
  </div>
</header>
